.p-p{
    text-align: center;
    font-family:inherit;
    font-style:unset;
    font-size: smaller;
    font-weight: bold;
}

.info{
    text-align: center;
}

.contenedorr{
    display: flex;
    justify-content: center;
}

.imagen-logo{
    width: 200px;
    height: 500px;
    background-color: rgb(40, 196, 136);
    border-radius: 100%;
}

.separador1{
    width: 100px;
    height: 10px;
    padding-left: 150px;
}

.separador2{
    width: 40px;
    height: 10px;
    padding-left: 360px;
}

.col1 {
    width: 300px;
    height: 10px;
}

.col2 {
    width: 500px;
    height: 100px;
    padding: 20px;
    margin: 10px;
}

.imagen-logo,.col1,.col2 {
                display: inline-block;
                height: 100%;
            }