<footer class="fixed-bottom bg-dark text-center text-white">

  <div style="background-color: rgba(5, 4, 4, 0.438);">
    <h1 class="p-p">Conecta con nosotros</h1>
    
  </div>
  <br>

    <div class="contenedorr">
          

         

            <div class="col2 info">

              <div class="card text-white bg-dark border-secondary" style="max-width: 35rem; display: inline-block;">
                  <div class="card-header" style="background-color: rgba(5, 4, 4, 0.438);">
                   ¡HEY!
                  </div>
                  <div class="card-body" style="background-color: rgba(130, 133, 133, 0.267);">
                    <blockquote class="blockquote mb-0">
                       <p>Si te gustan las bicis, este es tu lugar</p>
                    <footer class="blockquote-footer">ATT:<cite title="Source Title">Cleto</cite></footer>
                  </blockquote>
                  </div>
              </div>

                <!-- Grid container -->
            <br>

            </div>

            <div class="separador1"></div>

            <div class="imagen-logo">
              <img src="./assets/img/LOGO-JUAN-BIKES.png" width="170" height="170">
            </div>

            <div class="separador2"></div>

        <div class="col1">

              <!-- Grid container -->
              <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                  <!-- Facebook -->
                  <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/JuanBikess" role="button">f<i class="fab fa-facebook-f"></i></a>

                  <!-- Twitter -->
                  <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/juanbikescol" role="button">t<i class="fab fa-twitter"></i></a>

                  <!-- Instagram -->
                  <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/juanbikescol/?hl=es-la" role="button">i<i class="fab fa-instagram"></i></a>

                </section>
                <!-- Section: Social media -->
              </div>

                <!-- Información adicional -->
                <div class="col1">
                  <h1 class="p-p">Email: info@juanbikes.com</h1>
                  <h1 class="p-p">Whatsapp: 3214410958</h1>
                  <h1 class="p-p">Lunes a Viernes - 9:00am a 7:00pm</h1>
                  <h1 class="p-p">Sábados - 10:00am a 5:00pm</h1>
                </div>
          </div>

    </div>

  <div class="text-center p-3" style="background-color:rgba(5, 4, 4, 0.438); ">
    ❤ -SINCE 2013- 🚴 :
    <a class="text-white" href="https://www.instagram.com/juanbikescol/?hl=es-la">JUANBIKES-COL</a>
  </div>
</footer>